.banner{
    width: 100%;
}

.title{
    margin: 20px 10px;
    text-align: center;
    font-size: 1.9em;
    color: #7c0000;
}
.sectionCards{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.containerButton{
    display:flex; 
    background: linear-gradient(#c4c2c2,#868686);
    border-radius: 45px;
}
.button{
    border-radius: 45px !important;
    padding: 10px 50px !important;
    color: white;
    border: none !important;
    cursor: pointer;
}



.containerCard{
    margin:20px 15% ;
}
.card{
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.cardHeader{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#ff3030,#ca1111);
    border-radius: 20px 20px  0px 0px;
    color: white;
}

.cardSectionList{
    margin-top: 20px;
}

.cardSectionListContent{
    margin-top: 10px;
}

.sectionWhyChoose{
    background: linear-gradient(#ff3030,#ca1111);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionWhyChoose header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionWhyChoose header>*{
    text-align: center;
    color: white;
}

.sectionWhyChoose header Button{
    margin-top: 20px;
    background-color: white;
    color: #7c0000;
    font-weight: 700;
    font-size: 0.7em;
}

.sectionWhyChoose header Button:hover{
    background-color: rgb(253, 210, 210);
}
.sectionWhyChoose header:first-child{
    font-size: 1.7em;
    font-weight: 700;
}

.sectionWhyChoose main{
    margin: 30px 0px;
}

.sectionWhyChoose main {
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

.sectionWhyChoose main >*{
    margin: 0px 20px;
}

.sectionWhyChoose main section h4{
    margin: 20px 0px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.sectionWhyChooseCard {
    border: 2px solid #7c0000;
}

.sectionWhyChooseIcon{
    padding: 5px;
    position: absolute;
    top: -25px;
    left: 15px;
    background-color: white;
    border-radius: 10px;
}

.sectionWhyChooseCardTitle{
    color: #7c0000;
}

.sectionWhyChooseCardContent{
    color: #7c0000;
    font-weight: 500;
    text-align: center;
}
