.container{
    height: 100vh;
}
.containerCarroussel{
    background: linear-gradient(white,rgb(245, 245, 255));
    margin-top: 95px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.containerCarroussel h3{
    font-size: 2em;
    font-weight: 700;
    color: #7c0000;
    text-align: center;
}
.slider {
    width: calc(200px * 4);
    height: auto;
    overflow: hidden;
}

.slider .slidetrack {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;
    width: calc(200px * 8);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}
.containerCard{
    display:flex;
    justify-content:center;
}
.card{
    box-shadow: none;
    width:90%;
}
.cardContent{
    font-size:1.8em;
    text-align: center;
}
.cardImg{
    display: flex;
    justify-content: center;
}

.cardImg{
    width: 80%;
}

.containerContacto{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:20px 0px;
    text-align: center;
}

.containerContacto > *{
    margin:10px 0px; 
}
.containerContacto h3{
    font-size:1.5em;
}
.contactoLink{
    text-decoration:none; 
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 4));
        transform: translateX(calc(-200px * 4));
    }
}


@media (max-width: 900px) {
    .containerCarroussel h3{
        font-size: 1.5em;
    }
    .cardTitle{
        font-size: 1.5em;
    }
    .cardContent{
        font-size:1.3em;
    }
    .containerContacto h3{
        font-size: 1.3em;
    }
    .slider {
        width: calc(150px * 4);
    }
    
    .slider .slidetrack {
        width: calc(150px * 8);
    }
    
    .slider .slide {
        width: 150px;
    }
    
    .slider .slide img {
        width: 100%;
    }
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-150px * 4));
            transform: translateX(calc(-150px * 4));
        }
    }
}

@media (max-width: 560px) {
    .containerCarroussel h3{
        font-size: 1.1em;
    }
    .cardTitle{
        font-size: 1.1em;
    }
    .cardContent{
        font-size:1em;
    }
    .containerContacto h3{
        font-size: 1em;
    }
    .slider {
        width: calc(65px * 4);
    }
    
    .slider .slidetrack {
        width: calc(65px * 8);
    }
    
    .slider .slide {
        width: 65px;
    }
    
    .slider .slide img {
        width: 100%;
    }
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(65px * 4));
            transform: translateX(calc(-65px * 4));
        }
    }
}