
.containerNav{
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 10;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo{
    height: 70px;
    width: auto;
}

.nav{
    display: flex;
    list-style: none;
}

.link{
    margin: 0px 15px;
    padding: 3px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.link:hover {
    color: #f7b7b7 !important;
}